* {
    padding: 0px;
    margin: 0px;
}
body {
    background: rgb(247, 162, 162) url('imagens/background001.jpg') center center no-repeat fixed;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 265px;
}

header > h1 {
    padding-top: 50px;
    font-size: 5em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: white;
}

section > p {
    padding-left: 20px;
}